.dropdown button {
    color: white;
    background: transparent;
    margin-right: 10vw;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
.head {
    background: transparent;
    color: white;
    height: 9vh;
    padding-top: 25px;
}
span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5vw;
    font-family: 'Libre Baskerville', serif;
    padding: auto 0;
}
span a {
    color: white;
}
* {
    font-family: 'Open Sans', sans-serif;
}
#index p {
    display: inline;
    margin-left: 3vw;
}
#index {
    margin: auto;
    margin-top: 15vh;
    font-size: 13px;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-weight: bold;
    line-height: 4vh;
}
#about {
    margin-top: 5vh;
    font-size: 13px;
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: left;
    line-height: 2.5vh;
    margin-bottom: 280px;
    height: 100vh;
}
.left {
    width: 75%;
    float: left;
}
.right {
    width: 25%;
    float:left;
}
img {
    /*float: right;*/
    height: 550px;
    width: 250px;
    margin-top: 4vh;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 2vw;
}
#philosophy {
    margin-top: 5vh;
    font-size: 15px;
    margin-left: 0vw;
    margin-right: 0vw;
    text-align: left;
    line-height: 2.5vh;
    margin-bottom: 280px;
    height: 100vh;
}
#page1 {
    width: 100%;
    background-color: #86B3D1;
    height: 100vh;
    color: white;
}
h1 {
    font-size: 18px;
    text-align: left;
}
#philosophy h1 {
    margin-top: 10vh;
    font-size: 18px;
    text-align: left;
}
ul {
    list-style-type: none;
}
#linkedin {
    margin-right: 40px;
    font-size: 30px;
    text-align: center; 
    font-weight: bold;
    color:rgb(44, 51, 58); 
}
#twitter {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    text-align: center; 
    font-weight: bold;
    color:rgb(44, 51, 58); 
}
#mail {
    margin-left: 40px;
    font-size: 30px;
    text-align: center; 
    font-weight: bold;
    color:rgb(44, 51, 58); 
}
.philosophy h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}
.foot {
    background: transparent;
}
#buttons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.dropbtn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(44, 51, 58);
    color:snow;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    top : -20px;
    position: relative;
}
.dropdown-content { 
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {display:block;}